<!-- Меню -->
<div class="menu">
  <div class="wfix">

    <ul>
      <li class="i1"><%= link_to "Услуги<br />и цены".html_safe, mypage_path('prices') %></li>
      <li class="i2"><%= link_to "Наши<br />работы".html_safe, portfolios_path %></li>
      <li class="i3"><%= link_to "Отзывы", reviews_path %></li>
      <li class="i4"><%= link_to "Контакты", mypage_path('contacts') %></li>
    </ul>


  </div>
</div>
<!-- /Меню -->