<!-- Слайдер -->
<div class="slider-wrap">
  <div class="slider">
    <!-- 1 слайд -->
    <div class="slide"><img src="/images/slide/1.jpg" width="940" height="347" alt="" title=""/></div>
    <!-- /1 слайд -->

  </div>
</div>
<!-- /Слайдер -->