<!-- Контакты -->
<div class="contacts">

  <!-- Левая часть -->
  <div class="left">

    <h1>Наши контакты</h1>

    <p>Наш адрес: Нейбута 63-б<br/>
      Мы работаем во все дни, кроме понедельника с 9 утра до 6 вечера
    </p>

    <div class="phone">
      Позвоните нам:  <span>+7(900)111-22-33</span>
    </div>

    <div class="feedback">
      <h2>Или напишите письмо:</h2>


      <table>

        <tr>
          <td>Вас зовут:</td>
          <td><input type="text" placeholder="Введите сюда ваше имя"/></td>
        </tr>

        <tr>
          <td>Ваш e-mail:</td>
          <td><input type="text" placeholder="Введите сюда ваш e-mail"/></td>
        </tr>

        <tr>
          <td>Текст:</td>
          <td><textarea placeholder="Введите текст"></textarea></td>
        </tr>

        <tr>
          <td></td>
          <td><button>Отправить</button></td>
        </tr>

      </table>


    </div>


  </div>
  <!-- /Левая часть -->


  <!-- Правая часть -->
  <div class="right">

    <div id="map_1" >
      <img src="/images/map1.jpg" alt="" title=""/>
    </div>

    <div id="map_2" style="display:none;">
      <img src="/images/map2.jpg" alt="" title=""/>
    </div>

    <ul class="tabs">

      <li class="t1">
        <a href="javascript:SwitchTab('m_1', 'map_1');" id="m_1"  class="active">Как проехать</a>
      </li>

      <li class="t2">
        <a href="javascript:SwitchTab('m_2', 'map_2');" id="m_2">Как пройти</a>
      </li>

    </ul>





  </div>
  <!-- /Правая часть -->

  <div class="clr"></div>
</div>
<!-- /Контакты -->