<%= form_for [:admin, @image], :html => { :multipart => true, :id => "fileupload", :class=> "form-horizontal"  } do |f| %>
  <div class="content top">
    <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
    <ul class="files thumbnails row-fluid" data-toggle="modal-gallery" data-target="#modal-gallery">
    </ul>
    
    <%= f.hidden_field :portfolio_id %>
    <input type="hidden" name="image[index]" id="image_index" />
    <div class="row fileupload-buttonbar">
      <div class="span7">
        <!-- The fileinput-button span is used to style the file input field as button -->
        <span class="btn btn-primary fileinput-button">
          <i class="icon-plus icon-white"></i>
          <span>Add Images...</span>
          <%= f.file_field :image, multiple: true %>
        </span>
        <button type="submit" id="upload_btn" class="btn btn-primary start hide">
          <i class="icon-upload icon-white"></i>
          <span>Start upload</span>
        </button>
      </div>
      <div class="span5">
        <!-- The global progress bar -->
        <div class="progress progress-success progress-striped active fade">
          <div class="bar" style="width:0%;"></div>
        </div>
      </div>
    </div>
    <!-- The loading indicator is shown during image processing -->
    <div class="fileupload-loading"></div>
    <br>
    <!-- The table listing the files available for upload/download -->
  </div>
<% end %>